<html>

<head>
    <title> Pieces </title>
    <link rel="stylesheet" href="css/style.css">
 
</head>

<body>
    <h1>Liste des pieces de l'appartement</h1>
    <div>
        <% for (let i=0; i<result_lenght ; i++){ %> 
        <h3> Piece : <%=result[i]['name'] + " " + (result[i]['length']*result[i]['width']) +" M2" %> </h3>

        <%} %>
    </div>

    <form action="/">
        <input type="submit" value="Encoder une autre piece">
      </form>



</body>

</html>