<html>

<head>
    <title> Pieces </title>
    <link rel="stylesheet" href="css/style.css">
 
</head>

<body>
    <h1>Encoder les données de la piece</h1>
    <h2></h2>
    <div>
        <form action="/" method = POST>
            <label for="fname">Piece:</label>
            <input type="Piece" id="piece" name="piece" ><br>
            <label for="fname">Largeur:</label>
            <SELECT name="Largeur" size="1">
                <OPTION>1
                <OPTION>2
                <OPTION>3
                <OPTION>4
                <OPTION>5
                </SELECT>
                <br>

            <label for="fname">Longueur:</label>
            <SELECT name="Longueur" size="1">
                <OPTION>1
                <OPTION>2
                <OPTION>3
                <OPTION>4
                <OPTION>5
                </SELECT>
                <br>
            <input type="submit" name = 'button' value="Enregister">
          </form> 

          <form action="/">
            <input type="submit" value="Calculer la surface">
          </form>

          




</body>

</html>